@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Informação Sobre o Projeto";
}
<div class="container">
    <div class="row">
        <div class="text-center col-md-4">
            <h3>Curso</h3>
            <p>Nome: Engenharia Informática</p>
            <p>Disciplina: Tecnologias da Internet II</p>
            <p>Ano letivo: 2020/2021</p>
        </div>
        <div class="text-center col-md-4">
            <h3>Aluno</h3>
            <p>Nome: Bernardo Marques Alegria</p>
            <p>Número: 20620</p>
        </div>
    </div>
</div>

