@model Gereasy.Models.TarefasColaboradores

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>TarefasColaboradores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Funcao" class="control-label"></label>
                <input asp-for="Funcao" class="form-control" />
                <span asp-validation-for="Funcao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoDedicadoTimeSpan" class="control-label"></label>
                @*<input asp-for="TempoDedicadoTimeSpan" class="form-control" type="time" value="@Model.TempoDedicadoTimeSpan.Hours:@Model.TempoDedicadoTimeSpan.Minutes" />*@
            <input asp-for="TempoDedicadoTimeSpan" class="form-control" type="time" value="3:30" />
                <span asp-validation-for="TempoDedicadoTimeSpan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColaboradorFK" class="control-label"></label>
                <select asp-for="ColaboradorFK" class="form-control" asp-items="ViewBag.ColaboradorFK"></select>
                <span asp-validation-for="ColaboradorFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TarefaFK" class="control-label"></label>
                <select asp-for="TarefaFK" class="form-control" asp-items="ViewBag.TarefaFK"></select>
                <span asp-validation-for="TarefaFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar Atrás</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
